.movies-list-container{
    list-style-type: none;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 150px;   
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.image-size{
    height: 100px;
    width: 100px;
    align-self: center;
}

